<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.numberone.system.mapper.ReceiveDocumentMapper">
    
    <resultMap type="ReceiveDocument" id="ReceiveDocumentResult">
        <result property="id"    column="id"    />
        <result property="docId"    column="doc_id"    />
        <result property="receiveId"    column="receive_id"    />
        <result property="receiveStatus"    column="receive_status"    />
        <result property="receiveTime"    column="receive_time"    />
        <result property="receiveObservation"    column="receive_observation"    />
    </resultMap>
	
	<sql id="selectReceiveDocumentVo">
        select id, doc_id, receive_id, receive_status, receive_time, receive_observation from receive_document
    </sql>
	
    <select id="selectReceiveDocumentList" parameterType="ReceiveDocument" resultMap="ReceiveDocumentResult">
        <include refid="selectReceiveDocumentVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="docId != null "> and doc_id = #{docId}</if>
             <if test="receiveId != null "> and receive_id = #{receiveId}</if>
             <if test="receiveStatus != null "> and receive_status = #{receiveStatus}</if>
             <if test="receiveTime != null "> and receive_time = #{receiveTime}</if>
             <if test="receiveObservation != null  and receiveObservation != '' "> and receive_observation = #{receiveObservation}</if>
         </where>
    </select>
    
    <select id="selectReceiveDocumentById" parameterType="Integer" resultMap="ReceiveDocumentResult">
        <include refid="selectReceiveDocumentVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertReceiveDocument" parameterType="ReceiveDocument" useGeneratedKeys="true" keyProperty="id">
        insert into receive_document
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="docId != null  ">doc_id,</if>
			<if test="receiveId != null  ">receive_id,</if>
			<if test="receiveStatus != null  ">receive_status,</if>
			<if test="receiveTime != null  ">receive_time,</if>
			<if test="receiveObservation != null  and receiveObservation != ''  ">receive_observation,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="docId != null  ">#{docId},</if>
			<if test="receiveId != null  ">#{receiveId},</if>
			<if test="receiveStatus != null  ">#{receiveStatus},</if>
			<if test="receiveTime != null  ">#{receiveTime},</if>
			<if test="receiveObservation != null  and receiveObservation != ''  ">#{receiveObservation},</if>
         </trim>
    </insert>
	 
    <update id="updateReceiveDocument" parameterType="ReceiveDocument">
        update receive_document
        <trim prefix="SET" suffixOverrides=",">
            <if test="docId != null  ">doc_id = #{docId},</if>
            <if test="receiveId != null  ">receive_id = #{receiveId},</if>
            <if test="receiveStatus != null  ">receive_status = #{receiveStatus},</if>
            <if test="receiveTime != null  ">receive_time = #{receiveTime},</if>
            <if test="receiveObservation != null  and receiveObservation != ''  ">receive_observation = #{receiveObservation},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateReceiveDocumentByDocId" parameterType="ReceiveDocument">
        update receive_document
        <trim prefix="SET" suffixOverrides=",">
            <if test="receiveId != null  ">receive_id = #{receiveId},</if>
            <if test="receiveStatus != null  ">receive_status = #{receiveStatus},</if>
            <if test="receiveTime != null  ">receive_time = #{receiveTime},</if>
            <if test="receiveObservation != null  and receiveObservation != ''  ">receive_observation = #{receiveObservation},</if>
        </trim>
        where doc_id = #{docId}
    </update>

	<delete id="deleteReceiveDocumentById" parameterType="Integer">
        delete from receive_document where id = #{id}
    </delete>
	
    <delete id="deleteReceiveDocumentByIds" parameterType="String">
        delete from receive_document where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>