<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="notice-form">
                <div class="select-list">
                    <ul>
                        <li>
                            公文标题：<input type="text" name="title"/>
                        </li>
                        <li>
                            公文密级：<select name="secretLevel" th:with="type=${@dict.getType('official_secret_level')}">
                            <option value="">所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.addFull()" shiro:hasPermission="official:document:add">
                <i class="fa fa-plus"></i> 新增
            </a>
            <!-- <a class="btn btn-primary btn-edit disabled" onclick="$.operate.editFull()"
                shiro:hasPermission="official:document:edit">
                 <i class="fa fa-edit"></i> 修改
             </a>
             <a class="btn btn-danger btn-del disabled" onclick="$.operate.removeAll()"
                shiro:hasPermission="official:document:remove">
                 <i class="fa fa-remove"></i> 删除
             </a>-->
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('official:document:edit')}]];
        var removeFlag = [[${@permission.hasPermi('official:document:remove')}]];
        var issueFlag = [[${@permission.hasPermi('official:document:issue')}]];
        var detailFlag = [[${@permission.hasPermi('official:document:detail')}]];
        var readFlag = [[${@permission.hasPermi('official:document:lookers')}]];
        var secret  = [[${@dict.getType('official_secret_level')}]];
        var types = [[${@dict.getType('sys_notice_type')}]];
        var level   = [[${@dict.getType('official_level')}]];
        var state  = [[${@dict.getType('official_status')}]];
        var prefix = ctx + "official/document";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                detailUrl: prefix + "/detail/{id}",
                modalName: "公文",
                search: false,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id',
					title : '序号' 
				},
				{
				    field : 'publishTime',
				    title : '来文日期',
				},
				{
					field : 'code',
					title : '收文编号'
				},
				{
		            field: 'secretLevel',
		            title: '公文密级',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(secret, value);
		            }
		        },
				{
		            field: 'level',
		            title: '公文等级',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(level, value);
		            }
		        },
		        {
		            field : 'title',
		            title : '公文标题',
		        },
		        {
		            field : 'status',
		            title : '公文状态',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(state, value);
		            }
		        },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	 if(row.status == '0'){
		            	 actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.editFull(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                         actions.push('<a class="btn btn-danger btn-xs '  + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a> ');
						 actions.push('<a class="btn btn-primary btn-xs '  + issueFlag + '" href="#" onclick="$.operate.get(\''+ prefix+ "/issue/"+ row.id + '\')"><i class="fa fa-envelope"></i>发布</a> ');
						}else{
						 actions.push('<a class="btn btn-success btn-xs ' + detailFlag + '" href="#" onclick="$.operate.detail(\'' + row.id + '\')"><i class="fa fa-edit"></i>详情</a> ');
						 actions.push('<a class="btn btn-success btn-xs ' + readFlag + '" href="#" onclick="openRead('+row.id+')"><i class="fa fa-edit"></i>人数查看</a> ');
						}
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });

//$.modal.openFull(\'' + "人数列表",prefix+"/lookers/"+ row.id + '\')

            function openRead(docId){
            var url =  prefix+"/lookers/"+docId;
                 $.modal.openFull("人数查看",url)
            }




</script>
</body>
</html>